%h1 Listing places

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @places.each do |place|
      %tr
        %td= image_tag popular.images.low_resolution.url

%br

= link_to 'New Place', new_place_path
